{ % extends 'base.html' %}

{% block conteudo %}
<div class="conteudo-abas">
    <!-- Aba Últimas Notícias -->
    <div class="painel-aba ativo" id="ultimas">
        <div class="grid-noticias">
            {% for noticia in noticias %}
            <!-- Article da notícia -->
            <article class="card-noticia">
                <div class="card-imagem">
                    <img src="{{ noticia. }}" alt="Imagem da notícia 1">
                </div>
                <!-- Conteúdo do card -->
                <div class="card-conteudo">
                    <span class="categoria politica"> {{ noticia.categoria }} </span>
                    <h3> {{ noticia.titulo }}</h3>
                    <p class="resumo"> {{ noticia.resumo }} </p>
                    <!-- Função expandir card -->
                    <div class="card-expandir">
                        <p class="conteudo-completo">
                            {{ noticia.descricao }}
                        </p>
                        <button class="btn-leia-mais">Leia mais</button>
                    </div>
                    <!-- Rodapé -->
                    <div class="card-rodape">
                        <span class="data-publicacao">{{ noticia.data_da_publicacao }}</span>
                        <span class="tempo-leitura"><i class="fa-regular fa-clock"></i> {{ noticia.tempo_de_leitura }}
                        </span>
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}