{% load 'static' %}
<!DOCTYPE html>
<html lang="pt-BR">

<head class="site-header">
    <meta charset="UTF-8">
    <title> {% blocak titulo %} Portal Brasil / Site de noticias {% endblock %}</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"> 
    <div class="logo-container">
        <i class="fa-solid fa-newspaper"></i>
        <h1>Portal Brasil</h1>
    </div>
</head>

<body>
    {% include 'noticias/menu.html' %}
    {% block conteudo %}{% endblock %}
    {% include 'noticias/footer.html' %}
    <!-- Script JS -->
    <script src="js/script.js"></script>
</body>

</html>